body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 230, 227);
}
.flex {
    display: flex;
}
.avatar img {
    max-width: 150px;
    border-radius: 100%;
}
.container {
    width: 1140px;
    margin: auto;
}
.header,
.main,
.footer {
    padding: 20px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: snow;
}
.header,
.footer {
    justify-content: space-around;
}
.header ul li,
.footer ul li {
    list-style-type: none;
}